<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>OpenFlow</title>
<link href="<%=rootUrl %>/content/index/css/css.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<!--[if lt IE 9]>
       <div style="background-color:#F7FCD1;border:1px solid #EDF5A0;padding:6px;color:#1A436C;font-size:16px;text-align:center;">您的浏览器为ie,当前系统不支持ie9以下的版本。请使用chrome,firefox或ie9及以上版本<a href="#" onclick="javascript:this.parentElement.style.display='none';" style="color:blue;margin:10px;">X</a></div>
        <![endif]-->
<div class="Container">
<div class="Top">
<div class="logo"><img src="<%=rootUrl %>/content/index/images/logo02.png" width="185" height="96" alt="logo" /></div>
<div class="QQ">
<div class="zhux"><%= user.ChineseName%>（<%= user.LoginName%>） <a href="<%=rootUrl %>/login?btn=logout">注销</a></div>
<div class="link">
</div>
</div>
</div>

<div class="center">
<div class="Banner"><img src="<%=rootUrl %>/content/index/images/gif.gif" width="1200" height="285" /></div>
<div class="Buttonimg">
     <ul>
     <li class="Button02"><a class="Button02" target="_blank" href="<%=rootUrl %>/editor.js?mode=0"></a></li>
     <li class="Button03"><a href="<%=rootUrl %>/default#lnkTemplate" class="Button03"></a></li>
     <li class="Button04"><a href="<%=rootUrl %>/default#lnkInstance" class="Button04"></a></li>
     <li class="Button01"><a href="<%=rootUrl %>/default#lnkMyPermission" class="Button01" href="#"></a></li>
     </ul>
</div>

<div class="Footer">
<br>Copyright &copy; 2013-2014 OpenFloe
</p></div>
</div>
</div>
</body>
</html>
