<%
    master="../master/detail.html";
%>

<view1>
    <script type="text/javascript">
        $(function () {
            /*var pageindex = 1;//当前页码*/
            $('#pager').paging({
                showCount: 6, //当前页附近显示多少页码，比如，4或5表示前后显二个页码，6表示前后显示三个,都会除以2
                change: function (p) {
                    search(p);
                }
            });
            $('#tbContainers').datagrid({
                columns:[[{field:'operation',title:'',width:60},{field:'Id',title:'ID',align:'left'},{field:'Ip',title:'IP地址',sortable:true,width:100},{field:'Description',title:'说明'}]],
                onSortColumn:function(sort,order) {
                    search(0,sort + ' ' + order);
                }
            });
            //$('#containers').html('<div class="jm_wait">加载中...</div>');
            $('#btnsearch').click(function() {
                //containerTB.sort.fields= [];
                search(0);
            });

            //默认查询参数
            var params = openflow.getParams();
            var ip = params["ip"];
            if (ip) {
                ip = decodeURIComponent(ip);
                $('#txtip').val(ip);
            }
            search(0);

            /*
            * 弹窗参数
            */
            var winparam = {
                title: '编辑', //标题
                content: $('#containereditor'),
                button: [{
                    text: '确定', click: function () {
                        //editorwin.close();
                    }
                }, {
                    text: '取消',
                    click: function () {
                        this.close();
                    }
                }],
                modal: true,
                canMax: false, //禁止最大化
                canMin: false,
                resizeable: false,
                top: 40,
                left: 200,
                width: 400,
                height: 200,
                //position: 'center',//位置，center=居中,top=顶部,left=左边
                bounds: { left: true, top: true, right: true, bottom: true }//边界锁定,//默认全锁定，此参数为一个json对象：如{left:false,top:true,right:true,bottom:false}//表示锁定顶部与右边，左边与底部可越界
            };
            winparam.ipinput = $('#containereditor #txtedit_ip');
            winparam.desinput = $('#containereditor #txtdescription');

            //新增container
            $('#btninsert').click(function () {
                var editorwin;
                winparam.ipinput.val('');
                winparam.desinput.val('');
                winparam.title = "添加Container";
                winparam.button[0].click = function () {
                    var ip = winparam.ipinput.val();
                    var des = winparam.desinput.val();
                    if ($.trim(ip) == '') {
                        openflow.message.warning('IP地址不可为空');
                        return;
                    }
                    var wait = openflow.message.showWaiting('添加中...');
                    openflow.request('post', {
                        ip: ip,
                        des: des,
                        url: '/servers/containerServer.js?cmd=insert&rnd=' + Math.random()
                    }, function (data) {
                        wait.close();
                        if (data) {
                            openflow.message.success('添加成功');
                            editorwin.close();
                            search(0);
                        }
                        else {
                            openflow.message.error('添加失败');
                        }
                    }) ;
                }
                editorwin = new $jm.win(winparam);
                editorwin.show();
                $('#containereditor').show();
                winparam.ipinput.focus();
            });
            resetParentHeight();
        });

    /**
    * 查询
    */
    function search(p,order) {
        p = Number(p) || 1;
        var ip = $('#txtip').val();
        var des = $('#txtdes').val();
        order = order || '';//(containerTB.sort ? containerTB.sort.toString() :'');
        openflow.request('post', {
            ip: ip,
            page: p,
            count: 20,
            orderby:order,
            des: des,
            url: '/servers/containerServer.js?cmd=search&rnd=' + Math.random()
        }, function (data,err) {
            if (data) {
                createTable(data.data);

                $('#pager').paging({ index: data.page, count: data.pageCount });
            }
            else if(err){
                $('#tbContainers').html(err.toString());
            }
            //重置父页高度
            resetParentHeight();
        })
    }

    /*var containerTB = new $jm.table({
            parent: 'containers',
            id: 'tbcontainers',
            //className: 'easyui-datagrid',
            sortChange:function(sort) {
                search(0);
            },
            header: ['',{value:"ID",name:'Id'}, "IP地址", "说明"]
        });*/

    //生成模板表格
    function createTable(data) {
        /*containerTB.rows=[];
        if (data) {
            for (var i = 0; i < data.length; i++) {
                containerTB.insertRow([
                {
                    value:'<a href="#" class="cell_op cell_del" onclick="javascript:return removeContainer(\''+data[i].Id+'\');">&nbsp;</a>',
                    style:'width:40px;'
            },
                {
                    value: data[i].Id,
                    style: 'width:40px;'
                }, {
                    value: data[i].Ip,
                    style: 'width:120px;'
                }, data[i].Description
                ]);
            }
        }
        containerTB.render();*/
        /*$('#tbContainers').datagrid({
            columns:[[{field:'operation',title:''},{field:'Id',title:'ID',align:'left'},{field:'Ip',title:'IP地址',sortable:true},{field:'Description',title:'说明'}]],
            onSortColumn:function(sort,order) {
                search(sort + ' ' + order);
            }
        });*/
        if(data) {
            for(var i in data) {
                data[i].operation = '<a href="#" class="cell_op cell_del" onclick="javascript:return removeContainer(\''+data[i].Id+'\');">&nbsp;</a>';
            }
        }
        $('#tbContainers').datagrid({data:data});
    }

        //移除container
        function removeContainer (id) {
            if(confirm('确定删除当前container?')){
                var wait = openflow.message.showWaiting('删除中...');
                openflow.request('get', {
                        id: id,
                        url: '/servers/containerServer.js?cmd=delete'
                    }, function (data) {
                        wait.close();
                        if (data) {
                            openflow.message.success('删除成功');
                            search(0);
                        }
                        else {
                            openflow.message.error('删除失败');
                        }
                });
            }
            return false;
        };
    </script>
</view1>
<view2>
    <div style="background-color:#ccc;padding:4px;margin-bottom:10px;">
        <button id="btninsert" value="添加">添加</button>
    </div>
    <div id="searchwhere">
        <div>
        <label for="ip">IP地址</label>
        <input id="txtip" name="ip" type="text" value="" maxlength="20" placeholder="请输入要查询的ip地址" />
        </div>

        <div>
        <label for="des">说明</label>
        <input id="txtdes" name="des" type="text" value="" maxlength="16" placeholder="说明" />
        </div>
        <div>
            <button value="查询" id="btnsearch" >查询</button>
            </div>
        <div class="clear"></div>
    </div>
    <div id="containers">
<table id="tbContainers"></table>
    </div>
    <div id="pager"></div>
    <div id="containereditor" style="display:none;">
        <table class="editor" cellspacing="0" cellpadding="0">
            <tr>
                <td class="label">IP地址：</td>
                <td><input id="txtedit_ip" maxlength="20" /></td>
            </tr>
            <tr>
                <td class="label">说明：</td>
                <td><textarea id="txtdescription" maxlength="512"></textarea></td>
            </tr>
        </table>
    </div>
</view2>
