<%
    master="../master/detail.html";
%>

<view1>
     <script src="<%=rootUrl %>/content/js/openflow.template.js?ver=<%= version%>"></script>
    <script src="<%=rootUrl %>/content/js/openflow.instance.js?ver=<%= version%>"></script>
     <script type="text/javascript" src="<%=rootUrl %>/content/easyui/datagrid-detailview.js"></script>
    <script type="text/javascript">
        $(function () {
            //var pageindex = 1;//当前页码
            $('#pager').paging({
                showCount: 6, //当前页附近显示多少页码，比如，4或5表示前后显二个页码，6表示前后显示三个,都会除以2
                change: function (p) {
                    search(p);
                }
            });

            $('#tbTemplates').datagrid({
                columns:[[{field:'Name',title:'名称',sortable:true},{field:'Description',title:'说明',align:'left'},{field:'Flag',title:'状态',sortable:true,width:100},{field:'CreateUser',title:'创建人',sortable:true},{field:'LastUpdateUser',title:'最近更新人',sortable:true},{field:'LastUpdateOn',title:'最近更新时间'}]],
                singleSelect:true,
                onSortColumn:function(sort,order) {
                    search(0,sort + ' ' + order);
                }
            });
            //openflow.root = '../';
            //$('#templates').html('<div class="jm_wait">加载中...</div>');
            $('#btnsearch').click(function() {
                //templateTB.sort.fields= [];//清除排序
                search(0);
            });

            //默认查询参数
            var params = openflow.getParams();
            var key = params["key"];
            if (key) {
                key = decodeURIComponent(key);
                $('#txtKeys').val(key);
            }
            search(0);
        });

        function search(p,order) {
                p = Number(p) || 1;
                var keys = $('#txtKeys').val();
                var creater = $('#txtCreater').val();
                var flag= $('#txtflag').val();
                order = order || '';//templateTB.sort?templateTB.sort.toString():'';
                openflow.request('post', {
                    url:'/servers/templateServer.js?cmd=searchtemplate',
                    keys: keys,
                    page: p,
                    count:20,
                    type:0,
                    orderby:order,
                    creater:creater,
                    flag:flag
                }, function (data,err) {
                    if (data) {
                        createTable(data.data);
                        $('#pager').paging({ index: data.page, count: data.pageCount });
                    }
                    else if(err){
                        $('#templates').html(err.toString());
                    }
                    //重置父页高度
                    resetParentHeight();
                });
            }

            //生成模板表格
            function createTable(data) {

                if (data) {
                    for (var i = 0; i < data.length; i++) {
                        var opname= '作废';
                        var mname= 'invalidTemplate';
                        var opclass = 'cell_del';
                        var flag = '有效';
                        if(data[i].Flag == 2) {
                            opname= '恢复';
                            mname= 'enableTemplate';
                            opclass= 'cell_restore';
                            flag='无效';
                        }
                        var date = $jm.parseDate(data[i].LastUpdateOn);
                        var namecell='';
                        namecell ='<a class="cell_op cell_copy" href="#" onclick="javascript:return copyTemplate.call(this,'+data[i].Id+',\''+data[i].Name+'\',\''+data[i].Description+'\');" title="复制">&nbsp;</a>';
                        namecell += '<a href="#" class="cell_op '+opclass+'" onclick="javascript:return '+mname+'('+data[i].Id+');" title="'+opname+'">&nbsp;</a>';
                        //namecell += '<a href="#" class="cell_op cell_plus" data-template="'+data[i].Id+'" onclick="javascript:return showTemplateInstance(this,true);" title="展开或收缩">&nbsp;</a>';
                        namecell += '&nbsp;&nbsp;<a href="/editor.js?mode=0&id='+data[i].Id+'"  target="_blank" data-template="'+data[i].Id+'">('+ +data[i].Id+ ')&nbsp;' + data[i].Name +'</a>';

                        data[i].Name = namecell;
                        data[i].LastUpdateOn =$jm.formatDate($jm.parseDate(data[i].LastUpdateOn),'yyyy-MM-dd HH:mm:ss');
                        data[i].Flag = flag;
                    }
                }

                $('#tbTemplates').datagrid({data:data});
                $('#tbTemplates').datagrid({
                view:detailview,
                detailFormatter:function(index,row) {
                    return '<div style="padding:2px;"><table id="div-'+index+'"></table></div>';
                },
                onExpandRow: function(index,row) {
                    showTemplateInstance('#div-' + index,index,row);
                }});
            }

            /**
            * 作废
            */
            function invalidTemplate(id) {
                openflow.template.invalidTemplate(id,function(r) {
                    if(r) {
                        search(0);
                    }
                });
                return false;
            }
            /**
            * 恢复
            */
            function enableTemplate(id) {
                openflow.template.enableTemplate(id,function(r) {
                    if(r) {
                        search(0);
                    }
                });
                return false;
            }

            /**
            * 复制当前模板
            */
            function copyTemplate(id,name,des) {
                openflow.template.copyTemplate.call(this,id,name,des,function(r) {
                    if(r) {
                        search(0);
                    }
                });
                return false;
            }

            /**
            * 显示此模板相关的实例
            */
            function showTemplateInstance(div,index,data) {
                $(div).datagrid({
                        columns:[[{field:'Name',title:'实例名称'},{field:'State',title:'状态'}]],
                        fitColumns:true,
                        rownumbers:true  ,
                        onResize:function() {
                            $('#tbTemplates').datagrid('fixDetailRowHeight',index);
                            //重置父页高度
                            resetParentHeight();
                        }
                    });


                search(div,index,data);
                function search(div,index,row) {
                    var order = '';//instanceTB.sort?instanceTB.sort.toString():'';
                    //instancesContainer.html('<div class="jm_wait">加载中...</div>');
                    openflow.request('post', {
                        page: 1,
                        flag:0,
                        templateId:row.Id,
                        count: 20,
                        orderby:'a.CreateOn desc',
                        url: openflow.root + 'servers/instanceServer.js?cmd=search'
                    }, function (data,err) {
                        if (data) {
                            /*if(data.data.length > 0) {
                                instancesContainer.show();
                            }*/
                            createTable(data.data,div,index,row);
                        }
                        else if(err) {
                            openflow.message.error(err.toString());
                        }
                    });
                }
                //生成模板表格
                function createTable(data,div,index,row) {
                    //instanceTB.rows=[];
                    if (data) {
                        for (var i = 0; i < data.length; i++) {
                            var namecell = '&nbsp;<a href="/editor.js?mode=3&id=' + data[i].TemplateId + '&instance=' + data[i].Id + '" target="_blank">(' +data[i].Id+ ')&nbsp;' +
                            (data[i].Name || '') + '</a>';
                            var statename = openflow.instanceStatus.getStateName(data[i].State);
                           /* instanceTB.insertRow([
                            {
                                value: namecell,
                                style: 'width:200px;'
                            },
                            statename]);*/
                            data[i].Name = namecell;
                            data[i].State = statename;
                        }
                    }
                    //header: [{value:"实例名称",name:'a.Name'}, {value:'状态',name:'a.State'}]
                    //instanceTB.render();
                    $(div).datagrid({
                        data:data
                    });
                    $('#tbTemplates').datagrid('fixDetailRowHeight',index);
                }
            }
    </script>
</view1>
<view2>
    <div id="searchwhere">
        <div>
        <label for="keys">关健词</label>
        <input id="txtKeys" name="keys" type="text" value="" maxlength="16" placeholder="请输入要查询的关健词" />
        </div>

        <div>
        <label for="creater">创建人</label>
        <input id="txtCreater" name="creater" type="text" value="" maxlength="16" placeholder="请输入要查询的创建人" />
        </div>
        <div>
        <label for="state">状态</label>
        <select id="txtflag" name="state" type="text">
            <option value="1">有效</option>
            <option value="2">无效</option>
            <option>全部</option>
        </select>
        </div>
        <div>
            <button value="查询" id="btnsearch" >查询</button>
            </div>
        <div class="clear"></div>
    </div>
    <div id="templates"><table id="tbTemplates"></table></div>
    <div id="pager"></div>
</view2>
